body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

demos, actions {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2000;
  overflow: auto;
}

demos {
  right: 5px;
}

actions {
  left: 5px;
}

demo, action, showEachIterationButton {
  display: block;
  margin: 8pt;
  padding: 5pt;
  color: #848484;
  background: #eee;
  border-radius: 1.5pt;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .2);
  -webkit-user-select: none;
  cursor: default;
}

demo:hover, action:hover {
  border: 1px solid #bbbbbb;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .2);
}

action {
  background: #F0F0F0;
}

demo {
  text-align: center;
}

showEachIterationButton {
  padding: 4pt;
  background: #eef;
  position: absolute;
  bottom: 20px;
  left: 45%;
  color: blue;
  display: none;
}

showEachIterationButton:hover {
  background: #dde;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, .4);
}

iterationsPerFrame {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #848484;
}

iterationsPerFrame:after {
  content: ' iterations / frame';
}

